*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color: #333;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:middle;
} 

header .container:before{
	content: '';
	display:inline-block;	
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

.bto-principal{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}
.bto-buscar{
	padding: .5em 2.5em; /*largura e altura*/
	border: 0; /*borda interna do button*/
	border-bottom: 3px solid; /*margem de baixo(linha(solid)de baixo)*/
	font-size: 1em; /*tamanho da fonte da letra*/
	cursor: pointer; /*deixa o mouse em formato de mãozinha*/
	margin-top: 2px;/*margem de cima*/
	color: #fff;/*cor da fonte*/
	background-color: #0c8cd3;/*cor do fundo*/
	border-color: #04324c;/*cor da borda(linha de baixo)*/
	width: 23%;/*tamanho da janela em relação a margem da pagina*/
	display: block; /*organiza em bloco*/
	clear: both; /*faz "flutuar" em baixo de outro objeto*/
	margin: 10px 0px;/*margem lateral*/

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido{
	background-color: red;
	color: white; 
}
#mensagem-erro{
	color: red;
}
.fadeOut{
	opacity: 0;
	transition: 0.5s;
}
#filtro{
	width: 260px;
	height: 35px;
	margin-bottom: 10px;
}
.ocultar{
	display: none;
}